<?xml version="1.0"?>
<config>
  <modules>
    <Tinkerlust_Extendgrid>
      <version>0.0.1</version>
    </Tinkerlust_Extendgrid>
  </modules>
  <global>
    <models>
      <tinkerlust_extendgrid>
        <class>Tinkerlust_Extendgrid_Model</class>
      </tinkerlust_extendgrid>
    </models>
    <events>
      <sales_order_resource_init_virtual_grid_columns>
        <observers>
          <tinkerlust_extendgrid>
            <model>tinkerlust_extendgrid/observer</model>
            <method>addColumnToResource</method>
          </tinkerlust_extendgrid>
        </observers>
      </sales_order_resource_init_virtual_grid_columns>
    </events>
    <resources>
      <tinkerlust_extendgrid_setup>
        <setup>
          <module>Tinkerlust_Extendgrid</module>
          <class>Mage_Sales_Model_Mysql4_Setup</class>
        </setup>
      </tinkerlust_extendgrid_setup>
    </resources>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <tinkerlust_extendgrid>
          <file>tinkerlust/extendgrid.xml</file>
        </tinkerlust_extendgrid>
      </updates>
    </layout>
  </adminhtml>
</config>
